.cs_SignUp {
    /* border: 1px solid red; */
    width: 50vw;
    padding-top: 10px;
}

.cs_heading {
    text-align: center;
}

.cs_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cs_input {
    width: 50%;
}

.cs_label {
    padding-top: 10px;
}

.cs_submit {
    margin-top: 20px;
}